doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="description", content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Geoland
		link(rel="stylesheet", href="styles/main.css")
	body
		.wrapper
			header.header
				.slider
					ul.slides
						li.slide
							.header__slider
						li.slide
							.header__slider
				.header-wrapper
					.header-logo
					.main-menu
						ul.main-menu__list
							li.main-menu__item
								a.main-menu__link.scrollto(href="#project") О проекте
							li.main-menu__item
								a.main-menu__link.scrollto(href="#product") Продукт
							li.main-menu__item
								a.main-menu__link.scrollto(href="#region") Регион
							li.main-menu__item
								a.main-menu__link.scrollto(href="#culture") Культура
							li.main-menu__item
								a.main-menu__link.scrollto(href="#cuisine") Кухня
							li.main-menu__item
								a.main-menu__link.scrollto(href="#") Контакты				
			section.project#project(name=project)
				.project__wrapper
					.project__logo
					h2.project__title О проекте
					p.project__discr
						|Первое, что каждый маленький человек делает, появившись на свет - начинает дышать. Второе - есть. И расставшись с наполненным безграничной любовью маминым молоком, повзврослев и окрепнув, неосознанно ищет в продутах те нежность, заботу, тепло, которые получал с самого начала...
					p.project__discr-low
						|Мы, вместе с самыми достойными предприятиями, обеспечиваем высочайшее качество продуктов, изготавливая из по лучшим рецептам, сохраненным старшими поколениями и приправляя удивительным разнообразием мест, где они создаются. Передавая вам не только вкус и аромат, но и пёструю живую картину, в которую можно погрузиться с удовольствием и интересом. Путешествуйте вместе с нами.
			section.slider.product#product(name=product)
				ul.slides
					li.slide
						.product__slide-1
							.content-wrapper
								h2.product__slide-title О продукте
								.product__slide-wrapper
									.product__slide-logo
									h3.product__slide-name Краткая история
									p.product__slide-discr
										|Первые свидетельства о производстве из коровьего молока  сливочного масла относятся к рубежу II тысячелетия до нашей эры. Это Месопотамия и Индия, что неудивительно, поскольку корова является священным животным для индусов. Топленое сливочное масло (ги) – один из лечебных ведических продуктов. Книга Притчей Соломоновых также упоминает о сливочном масле (30:33). В Европе сливочное масло получило распространение в начале нашей эры в северогерманских племенах, затем в Ирландии. На Руси - примерно с IX века. Наши соотечественники так преуспели в изготовлении и продаже на экспорт топленого масла, что за ним закрепилось название «русское». На рубеже XIX и XX  Николай Васильевич Верещагин заложил основы маслоделия и сыроделия в России. Благодаря этому к 1913 году наша страна занимала второе место в мире по экспорту масла. Сегодня «Вологодское» масло является известным брендом.
					li.slide
						.product__slide-2
							.content-wrapper
								h2.product__slide-title О продукте
								.product__slide-wrapper
									.product__slide-logo
									h3.product__slide-name Краткая история
									p.product__slide-discr
										|Состав сливочного масла очень богат. Оно содержит около 150 наименований жирных кислот, 20 из которых незаменимы для полноценного развития и функционирования человеческого организма. Молочный жир из сливочного масла помогает усваиваться кальцию. Сливочное масло богато такими жирорастворимыми витаминами, как  А, Е, К, D, а также С и группы В. Он благотворно влияет  на состояние кожи, волос, ногтей,  полезно для зрения,  половой функции, помогает полноценному развитию мышц и костей. Содержащиеся в масле фосфолипиды необходимы для образования клеток нашего организма.  Сливочное масло прекрасно усваивается  и обладает большой питательной ценностью. Это делает его незаменимой составляющей рациона больных и ослабленных людей, детей, а также кормящих и беременных женщин.
									p.product__slide-discr
										|Хранят сливочное масло в холодном, защищенном от света месте, чтобы не разрушился находящийся в нем витамин A.
									p.product__slide-discr
										|Употреблять его необходимо в умеренных количествах (как впрочем, и все остальные продукты) во избежание набора веса и накопления холестерина.
			section.technology.slider.content-wrapper
				ul.slides
					li.slide.technology__slide
						h2.technology__slide-title Технология приготовления и основные виды
						p.technology__slide-discr
							|Сливочное масло изготавливают методом сбивания сливок 35-38% жирности. Этот метод используется в небольших производствах, где количество сливок ограничено. Если сливок достаточно, то используется метод преобразования высокожирных сливок (82 – 83%). Он более технологичен и позволяет получать партии масла стабильного качества. Для производства масла сливки пастеризуют при температуре от 85 до 90°C.	
						p.technology__slide-discr
							|Ещё несколько особенностей: сливочное масло, изготовленное из свежих пастеризованных сливок, называется сладко-сливочным, такое масло наиболее распространено в нашей стране. Отличие Вологодского масла в температуре пастеризации сливок – она достигает 98°С,  что придаёт этому маслу приятный ореховый привкус и аромат. В Европе обычно производят кисло-сливочное масло – из сливок, сквашенных молочнокислыми заквасками, в результате чего масло приобретает специфический вкус. Такое масло бывает несоленым и соленым (до 1,5%). Срок хранения соленого масла значительно увеличивается.
						.technology__items
							.technology__item
								img.technology__item-img(src="./images/butter1.png", alt="")
								span.technology__item-name
									|Масло сливочное 82% «Традиционное»
							.technology__item
								img.technology__item-img(src="./images/butter2.png", alt="")
								span.technology__item-name
									|Масло сливочное 82% «Крестьянское»
					li.slide.technology__slide
						h2.technology__slide-title Ассортимент
						p.technology__slide-discr
							|Отечественный ГОСТ Р 52969-2008 делит масло сливочное по жирности:<br>
							|82,5% - Традиционное <br>
							|80,0% - Любительское <br>
							|72,5% - Крестьянское <br>
							|61,5% - Бутербродное <br>
							|50,0% - Чайное <br>
							|Сорт – высший и первый (более скромные вкусовые характеристики, аромат, допуски по консистенции и цвету). <br> Энергетическая ценность – от 748 ккал у Традиционного до 467 ккал у Чайного. <br>
							|Каждое масло может быть сладко-сливочным, кисло-сливочным, несолёным и солёным (кроме Бутербродного и Чайного). <br>
							|Топленое масло имеет жирность 99,0% и регламентируется ГОСТ Р 52971-2008
						.technology__items
							.technology__item
								img.technology__item-img(src="./images/butter1.png", alt="")
								span.technology__item-name
									|Масло сливочное 82% «Традиционное»
							.technology__item
								img.technology__item-img(src="./images/butter2.png", alt="")
								span.technology__item-name
									|Масло сливочное 82% «Крестьянское»
			section.region#region.slider(name=region)
				ul.slides
					li.slide.region__slide-1
						.content-wrapper
							h2.region-title Регион
							.region__slide-wrapper
								p.region__slide-discr
									|Более одной трети площади Адыгеи занимают особо охраняемые природные территории различного статуса и категорий. Шесть наиболее крупных особо охраняемых природных территорий, представляющие собой редкие по сохранности и уровню биологического разнообразия горные угодья (14% всей площади Адыгеи), в декабре 1999 года были включены в список Всемирного природного наследия ЮНЕСКО в составе номинации «Западный Кавказ. Это – Кавказский государственный природный биосферный заповедник, в том числе 73356 га его угодий, находящихся в Адыгее, его охранная зона, природный парк «Большой Тхач», памятники природы «Верховья рек Пшеха и Пшехашха», «Верховье реки Цице»,  «Хребет Буйный». Республика Адыгея славится плодородием своей земли, мягким климатом, щедростью и гостеприимством местных жителей.
								p.region__slide-discr
									|Поистине Адыгея – это уникальный райский уголок: западная часть Большого Кавказа по разнообразию флоры и фауны, их сохранности, не имеет себе равных не только в Кавказском регионе, но и среди других горных районов Европы и Западной Азии. Это территория, где сосредоточено большое количество находящихся под угрозой исчезновения редких, эндемичных и реликтовых видов растений и животных.
					li.slide.region__slide-2
						.content-wrapper
							h2.region-title Регион
							.region__slide-wrapper
								p.region__slide-discr_big
									|Республика Адыгея - один из живописных уголков Российской Федерации, расположена в центральной части Северо-Западного Кавказа, в бассейнах рек Кубани, Лабы и Белой, между 45° 13' и 43° 46' с.ш. и 38° 41' и 40° 46' в.д. Площадь Адыгеи - 7790 км2. 
								p.region__slide-discr
									|Адыгея на севере и северо-востоке ограничена рекой Кубанью и ее притоком Лабой, на юге - Главным Кавказским хребтом, на юго-востоке и юго-западе граница проходит изломанной линией, отражающей особенности расселения адыгов  в бассейнах рек Чехрак, Фарс, Белая, Пшиш, Псекупс, Афипс и других.
								p.region__slide-discr
									|Расстояние между крайними точками: северной и южной - 208 км, западной и восточной - 165 км. Удаленность южной точки от экватора - 4848 км. Республиканский центр - г.  Майкоп, располагается на высоте 210 - 230 м над уровнем моря.
			section.sights
				.content-wrapper
					h2.sights__slide-title Достопримечательности Адыгеи
					.slider
						ul.slides
							li.slide.sights__slide
								ul.sights__list
									li.sights__list-item
										a.sights__list-link(href="#")
											img.sights__list-photo(src="./images/sight1.jpg", alt="Плато Лагонаки")
										a.sights__list-title Плато Лагонаки
									li.sights__list-item
										a.sights__list-link(href="#")
											img.sights__list-photo(src="./images/sight2.jpg", alt="Гуамское Ущелье")
										a.sights__list-title Гуамское Ущелье
									li.sights__list-item
										a.sights__list-link(href="#")
											img.sights__list-photo(src="./images/sight3.jpg", alt="Азишская Пещера")
										a.sights__list-title Азишская Пещера
									li.sights__list-item
										a.sights__list-link(href="#")
											img.sights__list-photo(src="./images/sight1.jpg", alt="Плато Лагонаки")
										a.sights__list-title Плато Лагонаки
									li.sights__list-item
										a.sights__list-link(href="#")
											img.sights__list-photo(src="./images/sight2.jpg", alt="Гуамское Ущелье")
										a.sights__list-title Гуамское ущелье
									li.sights__list-item
										a.sights__list-link(href="#")
											img.sights__list-photo(src="./images/sight3.jpg", alt="Азишская Пещера")
										a.sights__list-title Азишская пещера
			section.slider.culture#culture(name=culture)
				ul.slides
					li.slide.culture__slide
						.content-wrapper
							h2.culture-title Культура и обычаи
							.culture__slide-discr_big
								|Богат и разнообразен этнический и национальный состав республики. Адыги, давшие название республике - древнейшие обитатели Северо-Западного Кавказа, известные в Европе и на Востоке с XIII века как черкесы. 
							.culture__slide-discr
								|Их предки в разные времена носили этнонимы: касоги, зихи, меоты. Кроме адыгов, автохтонного народа, и русских, в Адыгее проживают представители более ста национальностей. «Чем глубже корни, тем выше крона», – говорят адыги. Это непреложная истина. Традиции адыгского этикета Адыгэ Хабзэ уходят корнями в глубину веков. В этом прекрасном уголке России переплелись живописная красота природы и духовная красота народа, славящегося своим древним происхождениеми национальной культурой.
			section.cuisine#cuisine(name=cuisine)
				.content-wrapper
					h2.cuisine__title Традиционная адыгейская кухня
					p.cuisine__discr
						|Адыгейская кухня – кухня острых блюд, приготовляемых с применением всевозможных приправ, специй, пахнущих трав, перца, чеснока,чесночной соли, причем не только к мясным блюдам, но даже и к кисломолочным (самоквасы). Самый распространенный продукт – мясо,баранина, птица, говядина.  Больше всего любят адыгеи блюда из натурального мяса. На нашем ресурсе вы сможете найти некоторые рецепты.
					.recipe
						h2.recipe__title Рецепты
						ul.recipe__list
							li.recipe__item
								a.recipe__item-link(href="#")
									img.recipe__item-img(src="./images/food.jpg", alt="")
								a.recipe__item-title(href="#") Бульон для щипса
							li.recipe__item
								a.recipe__item-link(href="#")
									img.recipe__item-img(src="./images/food.jpg", alt="")
								a.recipe__item-title(href="#") Соуш щипс с пшеничной мукой
							li.recipe__item
								a.recipe__item-link(href="#")
									img.recipe__item-img(src="./images/food.jpg", alt="")
								a.recipe__item-title(href="#") Рецепт приготовления сушеного мяса
			footer
				span.copyright
					|&#9426 ООО "География еды" 2015
					
					
		script(src="scripts/components/jquery.js")
		script(src="scripts/scroll.js")
		script(src="scripts/jquery.glide.js")


